site_name: "NGIO: Next Generation File Format I/O"
site_url: "https://github.com/BioVisionCenter/ngio.git"
site_description: "A Python library for processing OME-Zarr images"
repo_name: "ngio"
repo_url: "https://github.com/BioVisionCenter/ngio"
copyright: "Copyright &copy; 2024-, BioVisionCenter UZH"

theme:
  name: material
  favicon: images/favicon.ico
  #logo: logos/logo_white.png
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - scheme: default
      # primary: green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      # primary: teal
      # accent: light-green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - content.tooltips
    - content.tabs.link
    - content.code.annotate
    - navigation.instant
    - navigation.instant.progress
    - navigation.sections
    - navigation.path
    - navigation.indexes
    - navigation.footer
    #- toc.integrate
    - toc.follow
    - search.suggest
    - search.share

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: "https://github.com/BioVisionCenter/ngio"
      name: NGIO on GitHub

plugins: 
  - search
  - autorefs
  - markdown-exec
  - include-markdown
  - mkdocstrings:
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
            - https://numpy.org/doc/stable/objects.inv
          options:
            heading_level: 3
            docstring_style: google
            show_source: true
            show_signature_annotations: true
            show_root_heading: true
            show_root_full_path: true
            show_bases: true
            docstring_section_style: list
            extensions:
              - griffe_typingdoc
            show_if_no_docstring: true
            inherited_members: true
            members_order: source
            separate_signature: true
            unwrap_annotated: false
            filters:
            - '!^_'
            merge_init_into_class: true
            signature_crossrefs: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: BioVisionCenter/ngio
      branch: main
  - mkdocs-jupyter:
      execute: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
      toc_depth: 3
      

nav:
  - "NGIO: Streamlined OME-Zarr Image Analysis": index.md
  - Getting Started:
    - getting_started/0_quickstart.md
    - getting_started/1_ome_zarr_containers.md
    - getting_started/2_images.md
    - getting_started/3_tables.md
    - getting_started/4_masked_images.md
    - getting_started/5_hcs.md

  - Tutorials:
    - tutorials/create_ome_zarr.ipynb
    - tutorials/image_processing.ipynb
    - tutorials/image_segmentation.ipynb
    - tutorials/feature_extraction.ipynb
    - tutorials/hcs_exploration.ipynb

  - Table Specifications:
    - "Overview": table_specs/overview.md
    - "Table Backends": table_specs/backend.md
    - "Table Types":
      - "Generic Table": table_specs/table_types/generic_table.md 
      - "ROI Table": table_specs/table_types/roi_table.md
      - "Masking ROI Table": table_specs/table_types/masking_roi_table.md
      - "Feature Table": table_specs/table_types/feature_table.md
      - "Condition Table": table_specs/table_types/condition_table.md
      - "Add Custom Table": table_specs/table_types/custom_table.md
  
  - API Reference:
    - "OmeZarrContainer": api/ome_zarr_container.md
    - "Images": api/images.md
    - "HCS": api/hcs.md
    - "Tables": api/tables.md
    - "ngio":
      - "ngio": api/ngio/ngio.md
      - "ngio.images": api/ngio/images.md
      - "ngio.tables": api/ngio/tables.md
      - "ngio.hcs": api/ngio/hcs.md
      - "ngio.utils": api/ngio/utils.md
      - "ngio.common": api/ngio/common.md
    - changelog.md

  - Contributing:
    - "Contributing Guide": contributing.md
    - "Code of Conduct": code_of_conduct.md